.landingpage-container {
    background-color: #21212b;
    height: 35vh;
}
 
.heading-div {
    position: relative;
    top: 60px;
}
 
.heading {
    font-family: 'Yellowtail';
    color: white;
    font-size: 70px;
    text-shadow: #fa73d9 0 0 8px;
    letter-spacing: 2px;
}

.tagline {
    font-style: italic;
    text-shadow: #fa73d9 0 0 8px;
    color: white;
    font-family: 'sans';
}