.header-container{
    background-color: #21212b;
    height: 35vh;
}
 
.heading-div {
    position: relative;
    top: 60px;
}

.subTitle {
    font-style: italic;
    letter-spacing: 2px;
    text-shadow: #fa73d9 0 0 8px;
    color: white;
    font-family: 'sans';
}